/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/02/2014, 12:15:44
    Author     : baku
*/

h1{
    text-align: center;
    font-size:160%;
}

h2{
    font-size: 120%;
}

#head h2{
    text-align: right;
}

td{
    vertical-align:top;
}

#head{
    border: thin solid #000000;
    padding: 10px;
    padding-right: 40px;
}

#content,#contentadmin{
    border: thin solid #000000;
    margin-top:25px;
    padding:30px;
}

#admin{
    margin-top:25px;
    padding-top:0px;
}

#menu td{
    text-align: center;
    background-color: #CCCCFF;
    border: thin solid #000000;
    cursor:pointer;
}

#menu td:hover{
    background-color: #AAAAFF;
}

#help, .help{
    font-size:80%;  
    width:100%;
    background-color:#DDFFDD;
    border-bottom: thin solid #444444;
    border-top: thin solid #444444;
    margin-bottom:1%;
    color:#333333;
}

.llista{
    margin-top:10px;
    border: thin solid #000000;
}

.llista img{
    cursor:pointer;
}

.desplegable{
    width:80%;
    border: thin solid #000000;
    border-top:none;
}